.one{
    
    text-align: center;
    background: #18a17d;
    padding: 20px;
    margin: 0;
    border-radius: 20px;
    
}
.one a{
    color: white;
    
    padding: 10px;
    text-decoration: none;
    transition: ease 1s;
    margin: 20px;
    
}
.one a:hover{
    
    border-radius: 50px;
    
    background-color: black;
    

}
.profile img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
    
}
.profile{
    text-align: center;

}
.profile button{
    margin-left: 43%;
    margin-top: 10px;
    background-color:#064e3b;
    border-radius: 40%;
    padding: 15px;
    outline: none;
    text-decoration: none;
    color: white;
    background-color: black;
}
.profile{
    margin-top: 30px;
    padding: 20px;
    background:linear-gradient(90deg,#064e3b,#10b981)
}
.information a,h4{
    padding: 60px;
    text-decoration: none;
    color:rgba(23, 23, 23, 0.862);
    


}
.about{
     background:linear-gradient(90deg,#064e3b,#10b981);
     color: black;
     

}
.about h1,h4{
    padding: 15px;
    color: black;
}
.skill{
     background:linear-gradient(90deg,#064e3b,#10b981);


    }
    .projects{
        text-align: center;
         background:linear-gradient(90deg,#064e3b,#10b981);
    }
    .contact h1{
    color: rgb(45, 146, 45);
    margin:10px;
}
.contact div{
      background:linear-gradient(90deg,#064e3b,#10b981);
    color: white;
    text-align: center;
}
.contact div input{
    width: 30%;
    padding: 10px;
    border-radius: 20px;
}
.contact div button{
    background-color: rgb(54, 52, 52);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;

}

    
    
